.Cadastro {
  background-image: url("https://cdn.vectorstock.com/i/500p/68/56/golden-stage-with-light-rays-effect-vector-50366856.jpg");
  background-size: cover; /* Adjusts the size of the image */
  background-attachment: fixed; /* Keeps the image fixed in place */
  background-position: center; /* Centers the image */
}
.form-bg {
  /* background: rgba(231, 255, 95, 0.5); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
